# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# MRTK generated
Assets/MixedRealityToolkit.Generated/

# ROS build artifacts
ros_ws/build/
ros_ws/devel/
ros_ws/.catkin_workspace
ros_ws/install/
